@model NewsApp.Models.News

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewsId" />
            <div class="form-group">
                <label asp-for="NewsName" class="control-label"></label>
                <input asp-for="NewsName" class="form-control" />
                <span asp-validation-for="NewsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsHeader" class="control-label"></label>
                <input asp-for="NewsHeader" class="form-control" />
                <span asp-validation-for="NewsHeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsSubtitle" class="control-label"></label>
                <input asp-for="NewsSubtitle" class="form-control" />
                <span asp-validation-for="NewsSubtitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsImageName" class="control-label"></label>
                <input asp-for="NewsImageName" class="form-control" />
                <span asp-validation-for="NewsImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsImagePath" class="control-label"></label>
                <input asp-for="NewsImagePath" class="form-control" />
                <span asp-validation-for="NewsImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsText" class="control-label"></label>
                <input asp-for="NewsText" class="form-control" />
                <span asp-validation-for="NewsText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
